:root{
    --text-color: #757575;
    --header-href: #212121;
    --buton-bg: #2196F3;
    --footer-bg: #2F303A;
    --footer-a: #FFF;
    --footer-a2: rgba(255, 255, 255, 0.60);
}
body{
    font-family: "Roboto";
}
p{
    color: var(--text-color);
}
footer{
    background-color: var(--footer-bg);
}
.link-aa{
    color: var(--footer-a2);
font-size: 14px;
font-weight: 400;
line-height: 1,72;
letter-spacing: 0.42px;
}
.link-a{
    color: var(--footer-a2);
font-size: 14px;
font-weight: 400;
line-height: 1,72;
letter-spacing: 0.42px;
}
[href="https://www.google.com/maps/d/viewer?mid=10uSM3H-mIU3GznYo2szRIEphczw&hl=en_US&ll=50.42732700000004%2C30.538092&z=17"]{
    color: var(--footer-a);
font-size: 14px;
font-weight: 400;
line-height: 1,72;
letter-spacing: 0.42px;
}
.link-Web4{
    color: #2196F3;
    font-size: 26px;
    font-family: "Raleway"
    font-weight: 700;
    line-height: 1,39;
    letter-spacing: 0.78px;
}
.link-Studio4{
    color: #FFF;
    font-size: 26px;
    font-family: "Raleway"
    font-weight: 700;
    line-height: 1,39;
    letter-spacing: 0.78px;
}
button:hover{
    background: var(--buton-bg);
    color: white;
}
button:focus{
    background: var(--buton-bg);
}
.link-studio{
    color: var(--header-href);
    font-size: 14px;
    font-weight: 500;
line-height: 1,15;
letter-spacing: 0.28px;

}
.link-kontaktu2{
    color: var(--header-href);
    font-size: 14px;
    font-weight: 500;
line-height: 1,15;
letter-spacing: 0.28px;

}
.link-tel2{
    color: #757575;
    font-size: 14px;
    font-weight: 500;
line-height: 1,15;
letter-spacing: 0.28px;
}

.link-Web3{
    color: #2196F3;
    font-size: 26px;
    font-family: "Raleway"
    font-weight: 700;
    line-height: 1,39;
    letter-spacing: 0.78px;
}
.link-Studio3{
    color: #000;
    font-size: 26px;
    font-family: "Raleway"
    font-weight: 700;
    line-height: 1,39;
    letter-spacing: 0.78px;
}
.link-portfolioo2{
    color: var(--header-href);
    font-size: 14px;
    font-weight: 500;
line-height: 1,15;
letter-spacing: 0.28px;

}
.link-info2{
    color: var(--header-href);
    font-size: 14px;
    font-weight: 500;
line-height: 1,15;
letter-spacing: 0.28px;
}
.title-h2_3{
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 1.08px;
}
.text-p3{
font-size: 16px;
font-weight: 400;
line-height: 1,875;
letter-spacing: 0.48px;
}
.link-info2:hover{
    color: #2196F3;
}
.link-studio:hover{
    color: #2196F3;
}
.link-tel2:hover{
    color: #2196F3;
}
.link-kontaktu2:hover{
    color: #2196F3;
}
.link-portfolioo2:hover{
    color: #2196F3;
}
.link-info2:focus{
    color: #2196F3;
}
.link-studio:focus{
    color: #2196F3;
}
.link-tel2:focus{
    color: #2196F3;
}
.link-kontaktu2:focus{
    color: #2196F3;
}
.link-portfolioo2:focus{
    color: #2196F3;
}