/*font-family: "Raleway";*/
/*font-family: "Roboto";*/


:root{
    --text-color: #757575;
    --footer-bg: #2F303A;
    --section-bg: #F5F4FA;
    --buton-bg: #2196F3;
    --footer-a: #FFF;
    --footer-a2: rgba(255, 255, 255, 0.60);
    --header-href: #212121;


}
body{
    font-family: "Roboto";
}
p{
    color: var(--text-color);
}
footer{
    background-color: var(--footer-bg);
}
[href="https://www.google.com/maps/d/viewer?mid=10uSM3H-mIU3GznYo2szRIEphczw&hl=en_US&ll=50.42732700000004%2C30.538092&z=17"]{
    color: var(--footer-a);
font-size: 14px;
font-weight: 400;
line-height: 1,72;
letter-spacing: 0.42px;
}
.link-href{
    color: var(--footer-a2);
font-size: 14px;
font-weight: 400;
line-height: 1,72;
letter-spacing: 0.42px;
}
.link-href2{
    color: var(--footer-a2);
font-size: 14px;
font-weight: 400;
line-height: 1,72;
letter-spacing: 0.42px;
}
.link-Web{
    color: #2196F3;
    font-size: 26px;
    font-family: "Raleway"
    font-weight: 700;
    line-height: 1,39;
    letter-spacing: 0.78px;
    
}
.link-Studio{
    color: #FFF;
    font-size: 26px;
    font-family: "Raleway"
    font-weight: 700;
    line-height: 1,39;
    letter-spacing: 0.78px;
    
    
}
.section-business{
    background-color:  #2F303A;;
}
.business-title{
    color: white;
}

.section-section{
    background-color: var(--section-bg);
}
button{
    border-radius: 4px;
    background-color: var(--buton-bg);
    color: white;


}
.link-portfolioo{
   color: var(--header-href);
    font-size: 14px;
    font-weight: 500;
line-height: 1,15;
letter-spacing: 0.28px;
}
.link-kontaktu{
    color: var(--header-href);
    font-size: 14px;
    font-weight: 500;
line-height: 1,15;
letter-spacing: 0.28px;
}
.link-tel{
    color: #757575;
    font-size: 14px;
    font-weight: 500;
line-height: 1,15;
letter-spacing: 0.28px;
}
.logo{
    color: #2196F3;
    font-size: 26px;
    font-family: "Raleway"
    font-weight: 700;
    line-height: 1,39;
    letter-spacing: 0.78px;
    
  
}
.header-logo{
    color: #000;
    font-size: 26px;
    font-family: "Raleway"
    font-weight: 700;
    line-height: 1,39;
    letter-spacing: 0.78px;
    
}
.link-stydio{
    color: var(--header-href);
    font-size: 14px;
    font-weight: 500;
line-height: 1,15;
letter-spacing: 0.28px;


}
.link-info{
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
line-height: 1,15;
letter-spacing: 0.28px;


}
h1{
    display: flex;
width: 696px;
height: 120px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.btn-button1{
    text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1,875;
letter-spacing: 0.96px;
}
.subtitle-h2_1{
font-size: 14px;
font-weight: 700;
line-height: 1,15;
letter-spacing: 0.42px;
text-transform: uppercase;

}
.text-p{
font-size: 14px;
font-weight: 400;
line-height: 1,72;
letter-spacing: 0.42px;
}
.title-h2{
    text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 1.08px;
}
.title-h2_2{
    text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 1.08px;
}
.subtitle-h3{
font-size: 16px;
font-weight: 500;
line-height: 1,1875;
letter-spacing: 0.48px;
}
.text-p2{
font-size: 16px;
font-weight: 400;
line-height: 1,1875;
letter-spacing: 0.48px;
}
.link-info:hover{
    color: #2196F3;
}
.link-stydio:hover{
    color: #2196F3;
}
.link-tel:hover{
    color: #2196F3;
}
.link-kontaktu:hover{
    color: #2196F3;
}
.link-portfolioo:hover{
    color: #2196F3;
}
.link-info:focus{
    color: #2196F3;
}
.link-stydio:focus{
    color: #2196F3;
}
.link-tel:focus{
    color: #2196F3;
}
.link-kontaktu:focus{
    color: #2196F3;
}
.link-portfolioo:focus{
    color: #2196F3;
}
