/*font-family: "Raleway";*/
/*font-family: "Roboto";*/


:root{
    --text-color: #757575;
    --footer-bg: #2F303A;
    --section-bg: #F5F4FA;
    --buton-bg: #2196F3;
    --footer-a: #FFF;
    --footer-a2: rgba(255, 255, 255, 0.60);
    --header-href: #212121;
    --logo-color: #000;


}
body{
    font-family: "Roboto";
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: red solid;
}
.header{
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-box{
    display: flex;
    align-items: center;
}
.logo-link{
    margin-right: 93px;
}
.logo{
    color: var(--buton-bg);
    font-size: 26px;
    font-family: "Raleway";
    font-weight: 700;
    line-height: 1.39;
    letter-spacing: 0.78px;
    
  
}
.header-logo{
    color: var(--logo-color);
    font-size: 26px;
    font-family: "Raleway";
    font-weight: 700;
    line-height: 1.39;
    letter-spacing: 0.78px
    
}
.nav-list{
    display: flex;
    gap: 50px;
}
.nav-link{
    color: var(--header-href);
     font-size: 14px;
     font-weight: 500;
     line-height: 1.15;
     letter-spacing: 0.28px;
 }

 .header-list{
    display: flex;
    gap: 50px;
    margin-left: auto;
 }
 .header-link{
     color: var(--text-color);
     font-size: 14px;
     font-weight: 500;
     line-height: 1.15;
     letter-spacing: 0.28px;
 }

 

 
 .nav-link:hover{
    color:  var(--buton-bg);
}
.header-link:hover{
    color:  var(--buton-bg);
}
.nav-link:focus{
    color: var(--buton-bg);
}
.header-link:focus{
    color: var(--buton-bg);
}

 .section-business{
    background-color:  var(--footer-bg);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}
.business-title{
    width: 696px;
    color: var(--footer-a);

text-align: center;
font-family: Roboto;
font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: 60px; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
}
button{
    border-radius: 4px;
    background-color: var(--buton-bg);
    color: var(--footer-a);
    width: 216px;
height: 50px;
flex-shrink: 0;
}


.business-button{
    color: var(--footer-a);


font-family: Roboto;
padding-left: 32px;
padding-bottom: 10px;
padding-right: 32px;
padding-top: 10px;
} 
.section-details{
    padding-top: 94px;
    
}
.details-list{
    display: flex;
    gap: 30px;
    
}
.details-subtitle{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
    
    
    }
    .details-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.72;
    letter-spacing: 0.42px;
    
    
    }
p{
    color: var(--text-color);
}
.section-work{
    padding-top: 94px;
    padding-bottom: 94px;
}
.work-list{
    align-items: center;
    display: flex;
    gap: 30px;
}
.work-title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}
.work-img{
    width: 370px;
height: 294px;
}
.section-team{
    background-color: var(--section-bg);
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-list{
    display: flex;
    gap: 30px;
    text-align: center;
}
.team-title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}
.team-img{
    width: 270px;
height: 260px;

}
.team-div{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--footer-a);
}
.team-subtitle{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1875;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
    
    }
    .team-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1875;
    letter-spacing: 0.48px;
    }
    
footer{
    background-color: var(--footer-bg);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo{
    color: var(--footer-a);
    font-size: 26px;
    font-family: "Raleway";
    font-weight: 700;
    line-height: 1.39;
    letter-spacing: 0.78px;
    
    
    
}
.logo-link2{
    margin-bottom: 20px;
}
.footer-link2{
    color: var(--footer-a);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.72;
    letter-spacing: 0.42px;
    
  
}
.footer-link{
    color: var(--footer-a2);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.72;
    letter-spacing: 0.42px;
    margin-top: 9px;
    
}  


    






