:root{
    --text-color: #757575;
    --footer-bg: #2F303A;
    --section-bg: #F5F4FA;
    --buton-bg: #2196F3;
    --footer-a: #FFF;
    --footer-a2: rgba(255, 255, 255, 0.60);
    --header-href: #212121;
    --logo-color: #000;
    --color-svg: #AFB1B8;


}