.company{
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
  }

    &__title{
      color: $header-href;
  
  text-align: center;
  @include text($size: 28px,$weight: 700,$height: normal,$spacing: 0.84px);
  font-style: normal;
  margin-bottom: 50px;
  
  @media screen and (min-width: 1200px) {
    @include text($size: 36px,$weight: 700,$height: normal,$spacing: 1.08px);
}
  }
  
  &__list{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  &__link{
      width: 100%;
  height: 92px;
  border-radius: 4px;
  border: 1px solid $color-svg;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  
  @media screen and (min-width: 480px) {
    width: 210px;
}

  @media screen and (min-width: 768px) {
    width: 226px;
}

@media screen and (min-width: 1200px) {
  width: 170px;
}
  }
  
  &__link:hover{
      border: 1px solid $buton-bg;
     .company__svg{
       fill: $buton-bg;
     }
  }
  &__link:focus{
      border: 1px solid $buton-bg;
      .company__svg{
        fill: $buton-bg;
      }
   }
  
  &__svg{
      width: 106px;
  height: 60px;
  fill: $color-svg;
  background-color: $footer-a;
  transition-property: border, fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
}