.details{
    padding-top: 94px;
    
    &__list{
        display: flex;
        gap: 30px;
        
    }
    &__item::before{
        content: "";
        width: 270px;
        height: 120px;
        background-image: url(../img/antena1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70px;
        background-color: $section-bg;
        display: block;
        border-radius: 4px;
        margin-bottom: 30px;
    }
    
    
    &__item:nth-child(2)::before{
        background-image: url(../img/clock1.png);
    }
    
    &__item:nth-child(3)::before{
        background-image: url(../img/diagram1.png);
    }
    
    &__item:nth-child(4)::before{
        background-image: url(../img/astronaut1.png);
    }
    
    &__subtitle{
        @include text($size: 14px,$weight: 700,$height: 1.15,$spacing: 0.42px);
        text-transform: uppercase;
        margin-bottom: 10px;
        }
        
        &__text{
            @include text($size: 14px,$weight: 400,$height: 1.72,$spacing: 0.42px);
        }
}