.work{
    padding-top: 94px;
    padding-bottom: 94px;
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
    }

    &__list{
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 30px;
        
    }
    &__title{
        text-align: center;
        @include text($size: 36px,$weight: 700,$height: 42px,$spacing: 1.08px);
        margin-bottom: 50px;
    }
    &__img{
        width: 370px;
    height: 294px;
    
    }
    
    &__title2{
        color: $footer-a;
    
        text-align: center;
        @include text($size: 14px,$weight: 700,$height: normal,$spacing: 0.42px);
    font-style: normal;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.80);
    
    
    width: 370px;
    height: 70px;
    position: absolute;
    top: 1499px;
    padding: 27px;
   
}
}