@mixin text($size: 10px,$weight: 1500,$height: 3.15,$spacing: 1.28px) {
    font-family: "Roboto";
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    letter-spacing: $spacing;
}